html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 5px;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: blue;
  /*border: 2px solid red;*/
}
.header-logo {
  display: inline-block;
  width: 20%;
  padding: 0px 15px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  /*border: 2px solid red;*/
}
.claer-fix {
  content: "";
  display: table;
  clear: both;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.menu-item {
  display: inline-block;
}
.menu-link {
  text-transform: uppercase;
  padding: 20px 15px;
  font-size: 16px;
  transition: background-color 0.6s;
}
.menu-link:hover {
  background-color: rgb(14, 0, 13);
}
.intro {
  padding: 60px 0;
}
.intro-inner {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}
.intro-img {
  width: 250;
  height: 250;
  border-radius: 50%;
}
.intro-left {
  width: 25%;
}
.intro-right {
  width: 60%;
}
.main {
  width: 1140px;
  height: 250px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer {
  display: flex;
  margin: auto;
  min-height: 25px;
  background-color: blue;
}
.footer-logo {
  padding: 42px;
}
.footer-link {
  text-transform: uppercase;
  padding: 42px 100px;
  font-size: 15px;
  transition: background-color 0.6s;
}
.footer-link:hover {
  background-color: rgb(14, 0, 13);
}
